<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <accordion v-for="item in items" :key="item.id" :view_property="item"></accordion>
</div>

<script>
    Vue.component('accordion', {
        props: ['view_property'],
        template: `
            <div>
                <p>{{view_property.title}}</p>
                <p @click="toggle=!toggle">Details</p>
                <p v-if="toggle">{{view_property.description}}</p>
            </div>
        `,
        data: function () {
            return {
                toggle:false,
            }
        }
    });


    new Vue({
        el: '#app',

        data: {
            items: [
                {id: 1, title: 'Title1', description: 'description for tab1'},
                {id: 2,title: 'Title2', description: 'description for tab2'},
                {id: 3,title: 'Title3', description: 'description for tab3'}
            ]
        }
    });
</script>

</body>
</html>